* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.field {
  margin-bottom: 0; 
}



.C-form {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: rgb(14, 192, 133);
  border-radius: 15px;
}


.client-header {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff;
}

.client-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.clientcell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;  
}


.clientcell label {
  font-weight: 600;
  color: #fff;
}

.client-form input {
  width: 220px;
  height: 40px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}


.btn {
  width: 100px;
  height: 38px;
  margin: 10px auto 0;
  font-weight: 600;
  border-radius: 5px;
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
}

/* Table */
table {
  width: 80%;
  margin: 40px auto;
  border-collapse: collapse;
  text-align: center;
}

table th {
  background-color: #111;
  color: white;
  padding: 5px;
}

table td {
  padding: 5px;
}

table button {
  margin: 0 5px;
}


.child-text {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  font-weight: 600;
}
.error-text {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(241, 21, 21);
  padding-left: 140px;
}



