/* * {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 1rem;
}

.btn{
    width: 130px;
    height: 40px;
    background-color: rgba(18, 81, 18, 0.729);
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
} */